#root {
  max-width: 1280px;
  margin: 0 auto;
}

.subtitle {
  color: var(--subtitle-font-color);
  line-height: 1.5;
  font-weight: 600;
  letter-spacing: 3.5px;
  font-size: large;
}

.categorie {
  display: flex;
  gap: 20px;
}

.task-categorie {
  width: 100%;
  padding: 1.3rem;
  margin: 10px 0 40px 0;
  background-color: var(--background-darker-color);
  font-size: 30px;
  font-weight: 500;
  letter-spacing: .5px;
  border-radius: 20px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.task-categorie-count {
  font-size: 19px;
  font-weight: 600;
  margin: 5px 0;
  color: #50639B;
}

.task-categorie-bar {
  width: 100%;
  height: 2px;
  margin-top: 25px;
  background-color: #384770;
  border-radius: 25%;
}

.subtitle-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subtitle-section-select {
  padding: .7rem;
  margin: 20px 0;
  background-color: var(--background-darker-color);
  font-size: large;
  letter-spacing: 1px;
  border-radius: 20px;
  border: none;
}

.task {
  padding: 1.3rem;
  margin: 10px 0;
  background-color: var(--background-darker-color);
  font-size: larger;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task>div {
  display: flex;
  align-items: center;
}

.incomplete {
  margin: 0 15px 0 0;
  width: 40px;
}

.incomplete-text {
  width: 500px;
}

.complete {
  margin: 0 15px 0 0;
  width: 40px;
  fill: #aaaaaa;
}

.complete-text {
  text-decoration: line-through;
  color: #aaaaaa;
  width: 500px;
}

.trash-icon {
  width: 35px;
  height: 35px;
  transition: 300ms;
}

.trash-icon:hover,
.trash-icon:active {
  color: var(--background-button);
}

.add-task {
  position: absolute;
  padding: 18px;
  bottom: 65px;
  right: 50px;
  width: 80px;
  height: 80px;
  border-radius: 100%;
}

.add-task:hover {
  background-color: #d006e2;
  color: #d4d4d4d7;
  transition: 300ms;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.overlay-content {
  min-width: 50%;
  min-height: 25%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  background-color: var(--background-color);
  padding: 20px;
  border-radius: 10px;
  position: relative;
  gap: 20px;
}

.exit-overlay {
  top: 0;
  right: 0;
  position: absolute;
  width: 40px;
  height: 40px;
  margin-top: 15px;
}

.new-task {
  font-size: large;
  padding: .8em;
  background-color: var(--background-darker-color);
  border-radius: 20px;
}

.select-overlay {
  font-size: large;
  padding: .6em;
  background-color: var(--background-darker-color);
  border-radius: 20px;
  border: none;
}

.overlay-button {
  font-size: larger;
  position: absolute;
  bottom: 30px;
  right: 30px;
  padding: 5px 15px;
  align-items: center;
  width: fit-content;
  display: flex;
  gap: 5px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.overlay-button:hover {
  background-color: #d006e2;
  color: #d4d4d4d7;
  transition: 300ms;
}

.overlay-button svg {
  width: 25px;
}
