#root {
  max-width: 1280px;
  margin: 0 auto;
}

.subtitle{
  color: var(--subtitle-font-color);
  line-height: 1.5;
  font-weight: 400;
  font-size: large;
}

.task {
  padding: 1.3rem;
  margin: 10px 0;
  background-color: var(--background-darker-color);
  font-size: larger;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task > div {
  display: flex;
  align-items: center;
}

.incomplete {
  margin: 0 15px 0 0;
  width: 40px;
  height: 40px;
}

.incomplete-text {
  width: 200px;
}

.complete {
  margin: 0 15px 0 0;
  width: 40px;
  fill: #aaaaaa;
}

.complete-text {
  text-decoration: line-through;
  color: #aaaaaa;
  width: 200px;
}

.trash-icon {
  width: 30px;
  height: 30px;
  transition: 300ms;
}
.trash-icon:hover,
.trash-icon:active {
  color: var(--background-button);
}

.add-task {
  position: absolute;
  padding: 18px;
  bottom: 65px;
  right: 50px;
  width: 80px;
  height: 80px;
  border-radius: 100%;
}
.add-task:hover {
  background-color: #d006e2;
  color: #d4d4d4d7;
  transition: 300ms;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.overlay-content {
  width: 50%;
  height: 25%;
  flex-direction: column;
  background-color: var(--background-color);
  padding: 20px;
  border-radius: 5px;
  position: relative;
}

.exit-overlay {
  top: 0;
  right: 0;
  position: absolute;
  width: 40px;
  height: 40px;
  margin-top: 15px;
}

.overlay-button {
  position: absolute;
  bottom: 0;
  margin: 20px;
  align-items: center;
  right: 0px;
  width: fit-content;
  display: flex;
  gap: 5px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 5px 15px;
}
.overlay-button:hover {
  background-color: #d006e2;
  color: #d4d4d4d7;
  transition: 300ms;
}

.overlay-button svg {
  width: 25px;
}

.new-task {
  position: absolute;
  bottom: 120px;
  padding: .8em;
  margin: 10px 0;
  background-color: var(--background-darker-color);
  border-radius: 20px;
}

.select-overlay {
  position: absolute;
  bottom: 80px;
  padding: .5em;
  margin: 10px 0;
  background-color: var(--background-darker-color);
  border-radius: 20px;
  border: none;
}

.categorie {
  display: flex;
  gap: 20px;
}

.task-categorie {
  padding: 1.3rem;
  margin: 10px 0;
  background-color: var(--background-darker-color);
  font-size: 30px;
  border-radius: 20px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.task-categorie-count {
  font-size: 17px;
  color: #50639B;
}

.task-categorie-bar {
  width: 200px;
  height: 2px;
  margin-top: 15px;
  background-color: #384770;
  border-radius: 25%;
}

.subtitle-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subtitle-section-select {
  padding: .7rem;
  margin: 10px 0;
  background-color: var(--background-darker-color);
  font-size: medium;
  border-radius: 20px;
  border: none;
}

@media (max-width: 375px) {
  #root {
    max-width: 90vw;
  }

  .subtitle{
    font-size: smaller;
  }

  .task {
    font-size: medium;
  }

  .add-task {
    position: fixed;
    padding: 16px;
    bottom: 5vh;
    right: 10vw;
    width: 65px;
    height: 65px;
  }

  .new-task {
    width: 70%;
  }

  .categorie {
    gap: 15px;
  }

  .task-categorie {
    font-size: 21px;
    padding: 1rem;
  }

  .task-categorie-count {
    font-size: 13px;
  }

  .task-categorie-bar {
    width: 130px;
  }

  .subtitle-section-select {
    padding: .6rem;
    margin: 10px 0;
  }
}
