#root {
  max-width: 1280px;
  margin: 0 auto;
}

.subtitle{
  color: #89A6F2;
  line-height: 1.5;
  font-weight: 400;
  font-size: large;
}

.task {
  padding: 1.3rem;
  margin: 10px 0;
  background-color: #041955;
  font-size: larger;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task > div {
  display: flex;
  align-items: center;
}

.complete {
  margin: 0 15px 0 0;
  font-size: 30px;
}

.trash-icon {
  width: 30px;
  height: 30px;
}
.trash-icon:hover {
  color: #EB06FF;
  transition: 300ms;
}

.add-task {
  position: absolute;
  padding: 18px;
  bottom: 65px;
  right: 50px;
  width: 80px;
  height: 80px;
  border-radius: 100%;
}

.add-task:hover {
  background-color: #ea06ffe7;
  color: #ffffffd7;
  transition: 300ms;
}
